/* @pink:  #C5299B*/
@font-face {
  font-family: "title";
  src: url("../FONTS/Linotype - UniversLTPro-UltraCondensed.otf") format("opentype");
}
@font-face {
  font-family: "sub-title";
  src: url("../FONTS/GothamRnd-Light.otf") format("opentype");
}
@font-face {
  font-family: "label";
  src: url("../FONTS/GothamRnd-Book.otf") format("opentype");
}
* {
  font-size: 10pt;
  color: white;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body.main {
  background: url("../IMG/bg.jpg");
  /* Chrome10+,Safari5.1+ */

  overflow: hidden;
}
h1 {
  font-family: "title";
  line-height: 1em;
  margin: 0;
}
h2,
h3 {
  margin: 0;
  font-family: "sub-title";
  line-height: 1.1em;
}
p {
  font-family: "label";
}
#container {
  -webkit-transition: left 1s;
  position: absolute;
  height: 768;
  width: 2048;
  padding-top: 1em;
}
#container.phase2 {
  left: -512;
}
#container.phase2 > .right {
  width: 666.6666666666666px;
}
#container.phase2 > .calc > h1 {
  margin-left: -200;
}
#container.loading {
  opacity: 0;
}
.tile {
  float: left;
  width: 124;
  height: 124;
  -webkit-box-sizing: border-box;
  margin: 0;
  margin-top: 1em;
  text-align: center;
}
.tile p {
  font-size: 1.2em;
  line-height: 1em;
  width: auto;
  margin-top: -0.9em;
  text-shadow: 1px 1px 1px black;
}
.iconlabel {
  font-size: 1.2em;
  line-height: 1em;
  width: auto;
  margin-top: -0.9em;
  text-shadow: 1px 1px 1px black;
}
.icon {
  margin: 16px;
  margin-top: 0;
  width: 92px;
  height: 92px;
  border-radius: 46px;
  /*	border: 2px solid fade(white, 90%);*/

  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 58, color-stop(0%, #1006ff), color-stop(100%, #000000));
  -webkit-box-shadow: inset 0 0 5px 1px #ffffff, inset 0 0 2px 1px #ffffff, inset 0 0 1px 1px #ffffff, 0 -2px 10px 5px #a4dbe8;
}
.icon.active {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 58, color-stop(0%, #000000), color-stop(100%, #1006ff));
  /*-webkit-box-shadow: inset 0 0 5px 1px @lightblue, inset 0 0 2px 1px #ffffff, inset 0 0px 20px 5px @lightblue,inset 0 0 1px 1px #ffffff, 0px 10px 15px black;
	  */

  -webkit-box-shadow: -2px 2px 4px #000000, inset 0 0 4px 2px #ffffff;
}
.col {
  float: left;
  margin: 0px;
  padding: 8px;
  display: block;
  width: 496px;
  height: auto;
  -webkit-box-sizing: content-box;
}
.col h1 {
  font-size: 3.6em;
  max-height: 3.6em;
  text-align: left;
}
.col h2 {
  font-size: 1.5em;
  max-height: 3.5em;
}
.col h2,
.col h1 {
  -webkit-transition: all 1s;
}
.col h2.inactive,
.col h1.inactive {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}
.col.right {
  -webkit-transition: all 1s;
}
.col.calc {
  width: 325.3333333333333px;
}
.col.calc h1 {
  width: 768;
}
.col.calc .rate {
  margin: 32px;
  margin-top: 5em;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.col.calc .rate.inactive {
  opacity: 0;
  -webkit-transition: opacity 1s;
}
.col.calc .rate p {
  font-size: 1.25em;
  color: #a4dbe8;
}
.col.calc .rate h1 {
  color: #a4dbe8;
  font-size: 8em;
  margin: 0;
  padding: 0;
  width: auto;
  display: inline-block;
  line-height: 1.2em;
}
.col.calc .rate h1:after {
  content: "%";
  font-size: .5em;
  position: absolute;
  margin-bottom: 2em;
}
.ui-draggable-dragging {
  z-index: 99;
}
.bin {
  -webkit-transition: all 1s;
  width: 448px;
  height: 448px;
  margin: 16px;
  margin-top: 32px;
  border-radius: 224px;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 300, color-stop(0%, #1508d0), color-stop(100%, #000000));
  -webkit-box-shadow: inset 0 0 5px 1px #ffffff, inset 0 0 2px 1px #ffffff, inset 0 0 1px 1px #ffffff, 0 -2px 25px 15px #a4dbe8;
}
.bin h2 {
  font-size: 2em;
  color: rgba(164, 219, 232, 0.9);
  line-height: 1.5em;
}
.bin .lab {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  display: block;
  position: absolute;
  width: 448px;
  height: 448px;
  text-align: center;
  padding: 112px;
  padding-top: 149.33333333333334px;
}
.bin .lab.inactive {
  opacity: 0;
  visibility: hidden;
}
.bin .prompt {
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  opacity: 1;
  padding: .5em;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  text-align: center;
  height: 4em;
  width: 179.2px;
  margin-left: 219.73333333333332px;
  margin-top: 305.3333333333333px;
}
.bin .prompt h3 {
  font-size: 1.5em;
  color: #a4dbe8;
}
.bin .prompt.inactive {
  opacity: 0;
  visibility: hidden;
}
.bin.active {
  -webkit-animation: pulse 1s ease-in-out infinite;
  -animation: pulse 1s linear infinite;
}
.bin.drop-hover {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 300, color-stop(0%, #2415f6), color-stop(100%, #000000));
}
.noClick {
  pointer-events: none;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1,
h2,
p {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bin.phase2 {
  -webkit-transition: all 0.5s;
  width: 618.6666666666666px;
  height: 618.6666666666666px;
  margin: 16px;
  margin-top: 32px;
  border-radius: 309.3333333333333px;
  z-index: 50;
}
#footer {
  width: 1024;
  height: 64;
  position: absolute;
  top: 704;
  padding-right: 3em;
}
#footer #button {
  -webkit-transition: opacity 1s;
  opacity: 1;
  width: 25%;
  height: 100%;
  float: right;
}
#footer #button.inactive {
  opacity: 0;
  pointer-events: none;
}
#footer h3 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  width: auto;
  color: #a4dbe8;
  font-size: 4em;
  line-height: 1em;
  margin: .25em;
  margin-top: -64;
  padding: .25em;
  border-radius: .25em;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #1006ff), color-stop(100%, #000000));
  -webkit-box-shadow: inset 0 0 5px 1px #ffffff, inset 0 0 2px 1px #ffffff, inset 0 0 1px 1px #ffffff, 0 -2px 10px 5px #a4dbe8;
}
/*animations*/
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: inset 0 0 5px 1px #ffffff, inset 0 0 2px 1px #ffffff, inset 0 0 1px 1px #ffffff, 0 -2px 25px 15px #a4dbe8;
  }
  50% {
    -webkit-box-shadow: inset 0 0 5px 1px #ffffff, inset 0 0 2px 1px #ffffff, inset 0 0 1px 1px #ffffff, 0 -2px 10px 0px #a4dbe8;
  }
  100% {
    -webkit-box-shadow: inset 0 0 5px 1px #ffffff, inset 0 0 2px 1px #ffffff, inset 0 0 1px 1px #ffffff, 0 -2px 25px 15px #a4dbe8;
  }
}
/*SVG*/
/*.slice path{
	stroke: ;
	stroke-width: 0;
}*/
.slice text {
  font-family: "sub-title";
  fill: white;
}
.icongroup polygon {
  fill: #a4dbe8;
  stroke: #10069f;
}
.icongroup path {
  fill: #a4dbe8;
  stroke: #10069f;
}
.icon svg {
  margin: 16px;
  margin-top: 10.666666666666666px;
  width: 60px;
  height: 60px;
  fill: #a4dbe8;
  stroke: rgba(16, 6, 159, 0.2);
}
.dragBody {
  visibility: visible;
}
.dragBody.inactive {
  visibility: hidden;
}
.handle {
  stroke: white;
  fill: #a4dbe8;
  stroke-width: 2;
}
.handle.arrow {
  stroke: #10069f;
  stroke-width: 1;
}
.handle.arrow.active {
  fill: #43b02a;
  stroke: #a4dbe8;
  stroke-width: 2;
}
.handleArea {
  fill: red;
  fill-opacity: 0;
  stroke: none;
}
.series.rate {
  padding: 0;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
}
.series.rate h2 {
  -webkit-box-sizing: border-box;
  display: inline-block;
  font-size: 1.5em;
  padding: .25em;
  overflow: visible;
  margin-top: 5px;
  line-height: 1em;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #a4dbe8;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 2px 2px #a4dbe8, 0 3px 5px 2px #a4dbe8;
  border-radius: .5em;
}
.series {
  opacity: 1;
}
.series.inactive {
  opacity: 0;
}
.foreign {
  text-align: center;
}
.foreign p {
  font-size: 1.2em;
  line-height: 1em;
  width: auto;
  margin-top: -0.9em;
  text-shadow: 1px 1px 1px black;
  margin-top: .125em;
}
body.foreign {
  height: auto;
}
.seg {
  fill: none;
  stroke-width: 2;
  stroke: #10069f;
  stroke-opacity: 1;
}
.percentage {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fill: #a4dbe8;
  stroke: none;
  font-size: 24px;
}
.series.rate {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
